body {
  margin: 0; 
  padding: 0;
  font-family: 'Arial', sans-serif; 
  background-color: #f0f0f0; 
}
.App {
  max-width: 1100px;
  margin: 0 auto; 
  padding: 0 20px;
  text-align: center;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.product {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
}

.product h3 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.product p {
  font-size: 0.8rem;
  color: #666;
}
.product img{
  width: 100%;
  height: 200px;
}
.cart-btn {
  background-color: #0e88f2;
  color: #fff;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.8rem;
  transition: background-color 0.3s ease-in-out;
}

.product-detail {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.product-detail h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.product-detail img{
  width: 100%;
  height: auto; 
  max-width: 100%; 
  object-fit: contain;
}
.product-detail p {
  font-size: 1.1rem;
  color: #666;
}

.product-detail button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out;
}

.product-detail button:hover {
  background-color: #45a049;
}

@media (max-width: 767px) {
  .cart {
    display:flex;
    flex-direction: column;
    width: 90%;
  }
  .cart-cont{
    display:block;
    align-items: center;
  }
  .product {
    width: 90%;
  }
  .product img {
    width: 50px;
    height: 50px;
  }
}